DB_URL=db_url
DB_USERNAME=postgres
DB_PASSWORD=your_password

MAIL_USERNAME=your_mail
MAIL_PASSWORD=mail_password
JWT_SECRET=yourjwtsecretkey
RAZORPAY_KEY_ID=yourrazorpaykeyid
RAZORPAY_KEY_SECRET=yourrazorpaysecretkey

CLOUDINARY_CLOUD_NAME=cloudinaryname
CLOUDINARY_API_KEY=cloudinaryapikey
CLOUDINARY_API_SECRET=cloudinaryapisecret